<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Site</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{ content | safe }}
    <script src="bundle.js"></script>
  </body>
</html>