---
title: singlepostherolqip.njk
layout: layouts/_default/baseof.njk
---

<main>
  <div class="container w-full min-w-full relative overflow-hidden height-post">
    <picture>
      <source srcset="/images/{{featured_image_base}}-300.{{featured_image_ext}} 300w, /images/{{featured_image_base}}-600.{{featured_image_ext}} 600w, /images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}} {{featured_image_width}}w" class="object-cover" />
      <img src="/images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}}" alt="{{featured_image_alt}}" class="object-cover" />
    </picture>
    <div class="absolute bottom-0 text-shadow-titles sm:px-20 md:px-30 lg:px-40 gradient-titles w-full min-w-full">
      <h1 class="text-center text-4x1 md:text-left md:text-5xl text-white">{{ title }}</h1>
      <h2 class="text-center italic text-2x1 md:text-left md:text-3xl text-white">
        {% if subtitle %}
          {{ subtitle }}
        {% else %}
          &nbsp;
        {% endif %}
      </h2>
      <p class="h4 hidden not-italic md:block md:mt-4 text-white">{{ description }}</p>
      <p class="text-base text-center md:text-right text-white">
        <span style="font-variant: small-caps">published:</span>&nbsp; <strong>{{ page.date | htmlDateString }}</strong><br />
        <span class="pokey">
        {% if lastmod %}
        <span style="font-variant: small-caps">last modified:</span>&nbsp; {{ lastmod | htmlDateString }}
        {% else %}
        &nbsp;
        {% endif %}
        </span>
      </p>
    </div>
  </div>
  {% if featured_image_caption %}
    <p class="text-xs text-center tracking-normal">{{ featured_image_caption }}<span class="IEonly"> &bull; <em>May appear distorted in obsolete browsers.</em></span></p>
  {% endif %}

  <div class="sm:w-5/6 md:w-2/3 lg:w-1/2 mr-auto ml-auto">
    <article>
      {{ content | safe }}
    </article>
  </div>

  {% if title != "Home page" and title != "Posts" %}
  {% if oldComments %}
  {% include 'comments/' + (discussionId) + '.njk' %}
  {% endif %}
  {% include 'webmentionlist.njk' %}
  {% endif %}

  {% if title != "The obligatory About Me page" %}
  <div class="bg-dark">
    <h3 class="ctr wht"><a href="/posts" style="border-bottom: 0;">Other posts</a></h3>
  {% if nextPost.url %}
    <p class="ctr">
      <strong>Next</strong>: 
      <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="ctr">
      <strong>Previous</strong>: 
      <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </p>
  {% endif %}
  </div>
  {% endif %}
