---
title: singlepost.njk
layout: layouts/_default/baseof.njk
---

<main>
  <h1 class="ctr topOfMain">{{ title }}</h1>
  <h2 class="ctr h4" style="margin-top: 0;">
    {% if subtitle %}
    {{ subtitle }}
    {% else %}
    &nbsp;
    {% endif %}
  </h2>
  <p class="text-muted text-sans-serif ctr">
    Published: {{ page.date | htmlDateString }}<br /><span style="font-size: 85%;">
    {% if lastmod %}
      Last modified: {{ lastmod | htmlDateString }}
    {% else %}
      &nbsp;
    {% endif %}
    </span>
  </p>

  <div class="post-line"></div> 

  {% if featured_image %}
    <img src="{{ featured_image }}" class="img-fluid featured-image" alt="{{ featured_image_alt }}">
    {% if featured_image_caption %}
      <p class="featured-image-caption">{{ featured_image_caption }}</p>
    {% endif %}
  {% endif %}

  <div class="container-narrower">
    <article class="article">
      {{ content | safe }}
    </article>
  </div>

  {% if title != "Home page" and title != "Posts" %}
  <div class="container container-comments">
    <p>&nbsp;</p>
    <!-- Comments code -->
    <script>talkyardServerUrl="{{ siteparams.talkyardServerUrl }}";</script>
    <script async defer src="{{ siteparams.talkyardScriptUrl }}"></script>
    <!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
    <div class="talkyard-comments" data-discussion-id="{{ discussionId }}" data-iframe-title="Comments section on brycewray.com, powered by Talkyard" style="margin-top: 3em;">
      <noscript>Please enable Javascript to view comments.</noscript>
      <!-- commenting this out because it's in the footer ... <p class="legal text-muted" style="margin-top: 2em;">Comments powered by <a href="https://www.talkyard.io">Talkyard</a>.</p> -->
    </div>
    <!-- end, Comments code -->
  </div>
  {% endif %}

  {% if title != "The obligatory About Me page" %}
  <div class="bg-dark">
    <h3 class="ctr wht"><a href="/posts" style="border-bottom: 0;">Other posts</a></h3>
  {% if nextPost.url %}
    <p class="ctr">
      <strong>Next</strong>: 
      <a class="next" href={{ nextPost.url }}>{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="ctr">
      <strong>Previous</strong>: 
      <a class="previous" href={{ prevPost.url }}>{{ prevPost.data.title }}</a>
    </p>
  {% endif %}
  </div>
  {% endif %}
