---
title: singlepostherolqip.njk
layout: layouts/_default/baseof.njk
---

<main>
  <div class="background-hero-image-div">
    <picture>
      <source srcset="/images/{{featured_image_base}}-300.{{featured_image_ext}} 300w, /images/{{featured_image_base}}-600.{{featured_image_ext}} 600w, /images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}} {{featured_image_width}}w" class="imgCover" />
      <img src="/images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}}" alt="{{featured_image_alt}}" class="imgCover" />
    </picture>
    <div class="background-hero-title-block-fit">
      <h1 class="background-hero-title-text">{{ title }}</h1>
      <h2 class="background-hero-subtitle-text">
        {% if subtitle %}
          {{ subtitle }}
        {% else %}
          &nbsp;
        {% endif %}
      </h2>
      <p class="background-hero-description-text">{{ description }}</p>
      <p class="background-hero-p-text">
        <span style="font-variant: small-caps">published:</span>&nbsp; <strong>{{ page.date | htmlDateString }}</strong><br />
        <span class="pokey">
        {% if lastmod %}
        <span style="font-variant: small-caps">last modified:</span>&nbsp; {{ lastmod | htmlDateString }}
        {% else %}
        &nbsp;
        {% endif %}
        </span>
      </p>
    </div>
  </div>
  {% if featured_image_caption %}
    <p class="featured-image-caption">{{ featured_image_caption }}<span class="IEonly"> &bull; <em>Will appear distorted in obsolete browsers.</em></span></p>
  {% endif %}

  <div class="post-line"></div> 

  <div class="container-narrower">
    <article class="article">
      {{ content | safe }}
    </article>
  </div>

  {% if title != "Home page" and title != "Posts" %}
  {% include 'webmentionlist.njk' %}
  <div class="container container-comments">
    <p>&nbsp;</p>
    <!-- Comments code -->
    <script>talkyardServerUrl="{{ siteparams.talkyardServerUrl }}";</script>
    <script async defer src="{{ siteparams.talkyardScriptUrl }}"></script>
    <!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
    <div class="talkyard-comments" data-discussion-id="{{ discussionId }}" data-iframe-title="Comments section on brycewray.com, powered by Talkyard" style="margin-top: 3em;">
      <noscript>Please enable Javascript to view comments.</noscript>
      <!-- commenting this out because it's in the footer ... <p class="legal text-muted" style="margin-top: 2em;">Comments powered by <a href="https://www.talkyard.io">Talkyard</a>.</p> -->
    </div>
    <!-- end, Comments code -->
  </div>
  {% endif %}

  {% if title != "The obligatory About Me page" %}
  <div class="bg-dark">
    <h3 class="ctr wht"><a href="/posts" style="border-bottom: 0;">Other posts</a></h3>
  {% if nextPost.url %}
    <p class="ctr">
      <strong>Next</strong>: 
      <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
    </p>
  {% endif %}
  {% if prevPost.url %}
    <p class="ctr">
      <strong>Previous</strong>: 
      <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
    </p>
  {% endif %}
  </div>
  {% endif %}
