@tailwind base;

body {
  @apply font-body tracking-tight;
  font-feature-settings: "liga" 1; /* ligatures won't work without this */
}

p, li {
  /* for handling Markdown-created <p> and <li> */
  @apply mb-3 text-base;
}

pre, code {
  @apply font-codefont;
}

.bg-blue-deep {
  background-color: #00a;
}

.navWhite, .navWhite:visited {
  color: #fff;
}

.navWhite:focus, .navWhite:active {
  @apply text-gray-400;
}

.text-blue-light {
  color: #0033ff;
}

.text-blue-dark {
  color: #00bbff;
}

.text-shadow-titles {
  text-shadow: 4px 4px 2px #000;
}

.gradient-titles {
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.95),#000);
}

a {
  @apply text-blue-light;
  border-bottom: 1px solid #0033ff;
}

#nav-toggle:checked + #navMenu {
  display: block;
}

a.navborderless {
  border-bottom: none;
}

.dateInfo {
  @apply text-gray-700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply font-bold;
}

h4, .h4, h6, .h6 {
  @apply italic;
}

h1, .h1 {
  @apply text-4xl;
}

h2, .h2 {
  @apply text-3xl;
}

h3, .h3 {
  @apply text-2xl;
}

h4, .h4 {
  @apply text-xl;
}

h5, .h5, h6, .h6 {
  @apply text-lg;
}

/* start, footnotes */

.footnote-ref {
  font-size: 0.65em;
}

.footnotes-sep {
  @apply mb-3;
}

.footnotes-list {
  @apply list-decimal pl-6;
}

.footnote-item, .footnote-item p {
  @apply text-xs tracking-normal;
}

/* == end, footnotes */

.height-hero {
  height: 45vh;
  max-height: 45vh;
  overflow: hidden;
}

.height-post {
  height: 45vh;
  max-height: 45vh;
  overflow: hidden;
}

.text-nowrap, .text-nobrk {
  white-space: nowrap;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .height-hero {
    height: 55vh;
    max-height: 55vh;
  }

  .height-post {
    height: 65vh;
    max-height: 65vh;
  }
}

@media screen and (min-width: 1025px) {
  .height-hero {
    height: 65vh;
    max-height: 65vh;
  }

  .height-post {
    height: 80vh;
    max-height: 80vh;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #000 !important;
    color: #fff;
  }
  a {
    @apply text-blue-dark;
    border-bottom: 1px solid #00bbff;
  }
  .dateInfo {
    @apply text-gray-400;
  }
}

@tailwind components;

@tailwind utilities;

