@tailwind base;

/* purgecss start ignore */
body {
  @apply font-body;
  font-feature-settings: "liga" 1; /* ligatures won't work without this */
}

p, li {
  /* for handling Markdown-created <p> and <li> */
  @apply mb-3 text-base text-lg;
}

pre, code {
  @apply font-codefont;
}

.bg-blue-deep {
  background-color: #00a;
}

.navWhite, .navWhite:visited {
  color: #fff;
}

.navWhite:focus, .navWhite:active {
  @apply text-gray-400;
}

.text-blue-light {
  color: #0033ff;
}

.text-blue-dark { /* for dark mode */
  color: #00bbff;
}

.text-shadow-titles {
  text-shadow: 4px 4px 2px #000;
}

.gradient-titles {
  background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,.95),#000);
}

.ctr {
  @apply text-center;
}

.legal {
  @apply text-xs;
}

a {
  @apply text-blue-light;
  border-bottom: 1px solid #0033ff;
}

a:hover {
  @apply text-blue-600;
}

#nav-toggle:checked + #navMenu {
  display: block;
}

a.navborderless {
  border-bottom: none;
}

.dateInfo {
  @apply text-gray-700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply font-bold leading-tight;
}

h4, .h4, h6, .h6 {
  @apply italic;
}

h1, .h1 {
  @apply text-4xl mb-4;
}

h2, .h2 {
  @apply text-3xl;
}

h3, .h3 {
  @apply text-2xl italic;
}

h4, .h4 {
  @apply text-xl;
}

h5, .h5, h6, .h6 {
  @apply text-lg;
}

h5, .h5 {
  @apply italic;
}

.height-hero {
  height: 45vh;
  max-height: 45vh;
  overflow: hidden;
}

.height-post {
  height: 65vh;
  max-height: 65vh;
}

.text-nowrap, .text-nobrk {
  white-space: nowrap;
}

article h1, article h2, article h3, article h4 {
  @apply tracking-tight mt-8 mb-6;
}

article p {
  @apply leading-relaxed;
  @apply mt-6 mb-6;
}

@media screen and (min-width: 769px) {
  .height-hero {
    height: 70vh;
    max-height: 70vh;
  }
}
@media screen and (min-width: 900px) {
  .height-post {
    height: 75vh;
    max-height: 75vh;
  }
}

.yellowBox {
  display: block;
  background: #ffff88;
  border: 1px solid #333;
  margin: 0.5em auto;
  width: 100%;
  padding: 0 1em;
}

.yellowbox p { 
  width: 100%;
  margin: 0;
  padding: 0.5em !important;
}

ul, ol {
  @apply pl-8;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

.twitter-tweet {
  margin: 1em auto 0 auto;
}

table.leagues {
	width: 90%;
	margin: 1em auto 0 auto;
	border: 0;
	border-collapse: collapse;
}

table.leagues td.col {
  width: 50%;
}

@media (min-width: 900px) {
  table.leagues {
    width: 60%;
  }
  table.noborders {
    width: 90%;
  }
}

table.noborders {
  width: 100%;
  margin: 1.5em auto 1em auto;
  border: 0;
  border-collapse: collapse;
}

table.noborders td {
  text-align: left !important;
  vertical-align: middle;
  padding: 0.25em 0 0.25em 0.5em;
  @apply text-gray-800;
}

table.noborders td img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

table.noborders tr {
  @apply bg-blue-200;
}

table.noborders tr:nth-child(even) {
  @apply bg-gray-200;
}

table.noborders thead tr {
  background-color: #0500a9;
}
  
table.noborders thead td {
  color: #fff !important;
  font-weight: bold;
  @apply font-body;
}
  
table.noborders td.td70 {
  width: 70%;
}
table.noborders td.td70 img {
  display: block;
  width: 50%;
  max-width: 50%;
  height: auto;
}

table.noborders td.td30 {
  width: 30%;
}

blockquote {
  @apply px-6;
  @apply text-gray-700;
}

/* start, footnotes */

.footnote-ref {
  font-size: 0.65em;
}

.footnote-ref a {
  @apply border-transparent;
}

.footnotes-sep {
  @apply mb-3;
}

.footnotes-list {
  @apply list-decimal pl-6;
}

.footnote-item, .footnote-item p {
  @apply text-sm tracking-normal;
}

.aspect-16x9 {
  padding-bottom: 56.25%;
}

/* == end, footnotes */

.imgCover {
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
  width: 100%;
}

hr {
  border: 0.5px solid black;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #000 !important;
  }

  hr {
    border: 0.5px solid #ddd;
  }

  .border-black {
    @apply border-gray-200 !important;
  }
  .text-body, body, figcaption {
    color: #ddd;
  }
  footer {
    background: linear-gradient(rgba(0,0,0,0),#0500a9);
  }
  blockquote {
    @apply text-gray-500;
  }
  a {
    @apply text-blue-dark;
    border-bottom: 1px solid #00bbff;
  }
  a:hover {
    @apply text-blue-300;
  }
  .dateInfo {
    @apply text-gray-500;
  }
  .yellowBox {
    background: #332200 !important;
    border: 1px solid #aaa;
  }
}
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;

