@tailwind base;

/* purgecss start ignore */
body {
  @apply font-body;
  font-feature-settings: "liga" 1; /* ligatures won't work without this */
}

p, li {
  /* for handling Markdown-created <p> and <li> */
  @apply mb-3 text-base;
}

pre, code {
  @apply font-codefont;
}

.bg-blue-deep {
  background-color: #00a;
}

.navWhite, .navWhite:visited {
  color: #fff;
}

.navWhite:focus, .navWhite:active {
  @apply text-gray-400;
}

.text-blue-light {
  color: #0033ff;
}

.text-blue-dark {
  color: #00bbff;
}

.text-shadow-titles {
  text-shadow: 4px 4px 2px #000;
}

.gradient-titles {
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.95),#000);
}

a {
  @apply text-blue-light;
  border-bottom: 1px solid #0033ff;
}

#nav-toggle:checked + #navMenu {
  display: block;
}

a.navborderless {
  border-bottom: none;
}

.dateInfo {
  @apply text-gray-700;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply font-bold;
}

h4, .h4, h6, .h6 {
  @apply italic;
}

h1, .h1 {
  @apply text-4xl;
}

h2, .h2 {
  @apply text-3xl;
}

h3, .h3 {
  @apply text-2xl;
}

h4, .h4 {
  @apply text-xl;
}

h5, .h5, h6, .h6 {
  @apply text-lg;
}

.height-hero {
  height: 45vh;
  max-height: 45vh;
  overflow: hidden;
}

.height-post {
  height: 45vh;
  max-height: 45vh;
  overflow: hidden;
}

.text-nowrap, .text-nobrk {
  white-space: nowrap;
}

article h1, article h2, article h3, article h4 {
  @apply tracking-tight mt-8 mb-6;
}

article p {
  @apply leading-relaxed;
  @apply mt-6 mb-6;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .height-hero {
    height: 55vh;
    max-height: 55vh;
  }

  .height-post {
    height: 65vh;
    max-height: 65vh;
  }
}

@media screen and (min-width: 1025px) {
  .height-hero {
    height: 65vh;
    max-height: 65vh;
  }

  .height-post {
    height: 85vh;
    max-height: 85vh;
  }
}

.yellowBox {
  display: block;
  background: #ffff88;
  border: 1px solid #333;
  margin: 0.5em auto;
  width: 100%;
  padding: 0 1em;
}

.yellowbox p { 
  width: 100%;
  margin: 0;
  padding: 0.5em !important;
}

ul {
  @apply list-disc;
  @apply pl-4;
}

table.leagues {
	width: 90%;
	margin: 1em auto 0 auto;
	border: 0;
	border-collapse: collapse;
}

table.leagues td.col {
  width: 50%;
}

@media (min-width: 900px) {
  table.leagues {
    width: 60%;
  }
  table.noborders {
    width: 90%;
  }
}

table.noborders {
  width: 100%;
  margin: 1.5em auto 1em auto;
  border: 0;
  border-collapse: collapse;
}

table.noborders td {
  text-align: left !important;
  vertical-align: middle;
  padding: 0.25em 0 0.25em 0.5em;
  @apply text-gray-800;
}

table.noborders td img {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

table.noborders tr {
  @apply bg-blue-200;
}

table.noborders tr:nth-child(even) {
  @apply bg-gray-200;
}

table.noborders thead tr {
  background-color: #0500a9;
}
  
table.noborders thead td {
  color: #fff !important;
  font-weight: bold;
  @apply font-body;
}
  
table.noborders td.td70 {
  width: 70%;
}
table.noborders td.td70 img {
  display: block;
  width: 50%;
  max-width: 50%;
  height: auto;
}

table.noborders td.td30 {
  width: 30%;
}



/* start, footnotes */

.footnote-ref {
  font-size: 0.65em;
}

.footnotes-sep {
  @apply mb-3;
}

.footnotes-list {
  @apply list-decimal pl-6;
}

.footnote-item, .footnote-item p {
  @apply text-xs tracking-normal;
}

/* == end, footnotes */

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #000 !important;
  }
  .text-body, body, figcaption {
    color: #ddd;
  }
  footer {
    background: linear-gradient(rgba(0,0,0,0),#0500a9);
  }
  a {
    @apply text-blue-dark;
    border-bottom: 1px solid #00bbff;
  }
  .dateInfo {
    @apply text-gray-500;
  }
  .yellowBox {
    background: #332200 !important;
    border: 1px solid #aaa;
  }
}
/* purgecss end ignore */

@tailwind components;

@tailwind utilities;

