---
title: BryceWray.com
layout: layouts/_default/baseof.njk
---

<main>

  <div class="hero-home">
    <picture>
      <source srcset="/images/{{featured_image_base}}-300.{{featured_image_ext}} 300w, /images/{{featured_image_base}}-600.{{featured_image_ext}} 600w, /images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}} {{featured_image_width}}w" class="imgCover" />
      <img src="/images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}}" alt="{{featured_image_alt}}" class="imgCover" />
    </picture>
  </div>
  {% if featured_image_caption %}
    <p class="legal ctr text-muted" style="margin-top: 0.5em;">{{ featured_image_caption }}<span class="IEonly"> &bull; <em>Will appear distorted in obsolete browsers.</em></span></p>
  {% endif %}

  <div class="container-home">
    <div class="column-home">
      {{ content | safe }}
    </div>
    <div class="column-home">
      <h2 class="h1" style="margin-bottom: 0.5em;"><a href="/posts/">Posts</a></h2>
      {% for post in collections.post | reverse %}
        {% if loop.index0 < 7 %}	
        <div>
          <h2 class="h5" style="margin: 0;"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <p class="pokey h5" style="margin: 0;">{{ post.data.subtitle }}</p>
          <p class="legal text-muted" style="margin-top: 0;">
            <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
            {% if post.data.lastmod %}
            &nbsp;&bull;&nbsp;&nbsp;Last modified: <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.data.lastmod | htmlDateString }}</time>
            {% endif %}
          </p>
          <p class="pokey text-body" style="margin-top: 0.5em; margin-bottom: 1.5em;">
            {{ post.data.description }}
          </p>
        </div>
        {% endif %}
      {% endfor %}
      <p class="text-sans-serif"><a href="/posts/"><strong>All {{ collections.post.length }} posts</strong></a> <em>(five per page)</em></p>
      <!-- Twitter timeline used to go here -->
    </div>
  </div>
</main>