---
title: BryceWray.com
layout: layouts/_default/baseof.njk
---

<main>
  <div class="w-full height-hero pt-12">
    <picture>
      <source srcset="/images/{{featured_image_base}}-300.{{featured_image_ext}} 300w, /images/{{featured_image_base}}-600.{{featured_image_ext}} 600w, /images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}} {{featured_image_width}}w" class="imgCover" />
      <img src="/images/{{featured_image_base}}-{{featured_image_width}}.{{featured_image_ext}}" alt="{{featured_image_alt}}" class="imgCover" />
    </picture>
  </div>
  {% if featured_image_caption %}
    <p class="text-center text-xs tracking-normal mt-1">{{ featured_image_caption }}</span></p>
  {% endif %}

  <div class="lg:flex lg:w-3/4 mr-auto ml-auto">
    <div class="lg:w-3/5 px-6">
      {{ content | safe }}
    </div>
    <div class="lg:w-2/5 px-6">
      <hr class="my-6 lg:hidden">
      <h2 class="h1 mb-4"><a href="/posts/">Posts</a></h2>
      {% for post in collections.post | reverse %}
        {% if loop.index0 < 7 %}	
        <div>
          <h2 class="h5"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <p class="font-bold text-sm mb-0">{{ post.data.subtitle }}</p>
          <p class="text-xs tracking-normal mt-0 mb-1">
            <time style="display: inline;" class="dateInfo" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
            {% if post.data.lastmod %}
            <span class="dateInfo">&nbsp;&bull;&nbsp;&nbsp;Last modified: <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.data.lastmod | htmlDateString }}</time></span>
            {% endif %}
          </p>
          <p class="text-sm mt-2 mb-3">
            {{ post.data.description }}
          </p>
        </div>
        {% endif %}
      {% endfor %}
      <p><a href="/posts/"><strong>All {{ collections.post.length }} posts</strong></a> <span class="pokey"><em>(five per page)</em></span></p>
      <!-- Twitter timeline used to go here -->
    </div>
  </div>
</main>