    <footer class="text-center">
      <p class="text-xs inline-flex mt-4 mb-4"><a href="https://twitter.com/BryceWrayTX" style="border-bottom: none;"><img src="/images/twitter-2430933_48x48-48.png" style="height: 24px; width: 24px;" alt="Twitter"></a>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/brycewray" style="border-bottom: none;"><img src="/images/linked-in-2674741_48x48-48.png" style="height: 24px; width: 24px;" alt="LinkedIn"></a>&nbsp;&nbsp;<a href="/feed.xml" style="border-bottom: none;"><img src="/images/rss-2440955_48x48-48.png" style="height: 24px; width:24px;" alt="RSS"></a></p>
      <p class="text-xs tracking-normal">
        Copyright&nbsp;&copy;&nbsp;2019&nbsp;<a class="h-card" rel="me" href="https://brycewray.com">Bryce Wray</a>.<br />
          Site built and managed with <a href="https://11ty.dev">Eleventy</a>, <a href="https://jamstack.org" target="_blank" rel="noopener">the JAMstack</a>, <a href="https://webpack.js.org">webpack</a>, <a href="https://tailwindcss.com" target="_blank" rel="noopener">Tailwind CSS</a>, <a href="https://www.apple.com/macos" target="_blank" rel="noopener">macOS</a>, <a href="https://www.apple.com/ios" target="_blank" rel="noopener">iOS</a>, <a href="https://daringfireball.net/projects/markdown" target="_blank" rel="noopener">Markdown</a>, <span class="text-nowrap">time, and&nbsp;love.</span> <span class="text-nowrap">Hosted by&nbsp;<a href="https://netlify.com" target="_blank" rel="noopener">Netlify</a></span>.
        </p>
        <!-- for webmentions -->
        <hr style="margin-top: 2em;" />
        <div class="lg:w-1/2 mx-auto">
          <h4>Information for webmentions</h4>
          <p class="inline-flex"><img class="u-photo" alt="'Smiling Mac' icon from 1984 Macintosh startup screen" src="/images/macicons_smiling_mac_1984-180.png" style="width: 45px; height: auto;" /></p>
          <p class="p-note text-xs tracking-normal">Unrepentant advocate for and user of the Oxford comma (sorry,&nbsp;AP). Webmentions&nbsp;of others&rsquo; content do&nbsp;not necessarily constitute endorsements. Comments&nbsp;and opinions expressed herein are my&nbsp;own, unless otherwise&nbsp;noted.</p>
          {% if (coll[i].data != "") and (title !="Posts") %}
          <h4 class="ctr text-lg mt-4">About this page</h4>
          <article class="h-entry text-xs">
            <div class="e-content p-name">{{ title }}{% if subtitle %}&nbsp;&nbsp;|&nbsp;&nbsp;{{ subtitle }}{% endif %}{% if description %}&nbsp;&nbsp;|&nbsp;&nbsp;{{ description}}{% endif %}</div>
            <a class="u-url" href="{{ page.url }}">
              Published <time class="dt-published">{{ page.date | dateFromRFC2822 }}</time>
            </a>
            <link rel="author" href="https://brycewray.com/" />
          </article>
          {% endif %}
        </div>
    </footer>