     <header class="bg-blue-deep lg:fixed w-full inline-flex z-50">
      <p class="site-logo font-bold md:text-xl sm:text-lg tracking-normal mt-2 pl-4 md:pl-6"><a class="navWhite navborderless" href="/">BryceWray.com</a></p>
      <nav role="navigation" class="nav absolute right-0 md:pt-1 md:pr-3">
        <ul class="nav__items inline-flex mt-2 pr-4 md:pr-6">
          <li class="nav__item md:text-base md:pl-10 text-sm md:text-sm">
            <a href="/about" class="navWhite navborderless" title="About">About</a>
          </li>
          <li class="nav__item md:text-base pl-6 text-sm md:text-sm">
            <a href="/posts" class="navWhite navborderless" title="Posts">Posts</a>
          </li>
        </ul>
      </nav>
    </header>
