.lazybox {
  position: relative;
  display: block;
  @media screen and (min-width: 900px) {
    width: 100%;
    height: auto;
  }
}

.lazybox-img.ls-blur-up-is-loading, 
.lazybox-img.lazyload:not([src]) {
  visibility: hidden;
}

.ls-blur-up-img, 
.lazybox-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-family: "blur-up: auto", "object-fit: cover";

  object-fit: cover;
}


.ls-blur-up img {
  filter: blur(10px);
  opacity: 1;
  transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  filter: blur(5px);
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
  &.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.fade-box .lazyload, 
.fade-box .lazyloading {
  opacity: 0;
  transition: opacity 400ms;
}

.fade-box img.lazyloaded {
  opacity: 1;
}