---
layout: layouts/_default/baseof.njk
tags:
  - nav
navtitle: Posts
title: Posts
description: "A listing of posts on brycewray.com"
pagination: 
  data: collections.post
  size: 5
  reverse: true
  alias: posts
---

<main class="py-16">
	<div class="px-40 lg:w-2/3 mx-auto">
		<h1 class="text-center">Posts</h1>
		<div class="post-line"></div>
		<div>
      <p class="text-center text-sm mt-2 mb-2">
        {% if pagination.firstPageHref != page.url %}
        <a href={{ pagination.firstPageHref}}>&lt;&lt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.previousPageHref }}>&lt;</a>
        {% else %}
        <span class="text-muted">&lt;&lt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">&lt;</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if pagination.lastPageHref != page.url %}
        <a href={{ pagination.nextPageHref }}>&gt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.lastPageHref }}>&gt;&gt;</a>
        {% else %}
        <span class="text-muted">&gt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">&gt;&gt;</span>
        {% endif %}
      </p>
      <hr class="mt-0 mb-4" />
      {% for post in posts %}
        <div>          
          <h2 class="text-xl mb-1 leading-tight"><a href="{{ post.url }}">{{ post.data.title }}</a><br />
          <span class="text-base"><em>{{ post.data.subtitle }}</em></span></h2>
          <p class="text-sm dateInfo" style="margin-top: 0;">
            Published: <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
            {% if post.data.lastmod %}
            <br />Last modified: <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.data.lastmod | htmlDateString }}</time>
            {% endif %}
          </p>
          <p class="text-sm mt-2 mb-10">
            {{ post.data.description }}
          </p>
        </div>
      {% endfor %}
      <hr style="margin-top: 2em;" />
      <p class="text-center text-sm mt-2 mb-0">
        {% if pagination.firstPageHref != page.url %}
        <a href={{ pagination.firstPageHref}}>&lt;&lt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.previousPageHref }}>&lt;</a>
        {% else %}
        <span class="text-gray-300">&lt;&lt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-gray-300">&lt;</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if pagination.lastPageHref != page.url %}
        <a href={{ pagination.nextPageHref }}>&gt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.lastPageHref }}>&gt;&gt;</a>
        {% else %}
        <span class="text-gray-300">&gt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-gray-300">&gt;&gt;</span>
        {% endif %}
      </p>
		</div>
	</div>

</main>