---
layout: layouts/_default/base.11ty.js
tags:
  - nav
navtitle: Posts
title: Posts
pagination: 
  data: collections.post
  size: 5
  reverse: true
  alias: posts
---

<main>
	<div class="container">
		<h1 class="ctr topOfMain">Posts</h1>
		<div class="post-line"></div>
		<div class="container-narrower">
      <p class="ctr pokey" style="margin-top: 0.5em; margin-bottom: 0.5em;">
        {% if pagination.firstPageHref != page.url %}
        <a href={{ pagination.firstPageHref}}>&lt;&lt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.previousPageHref }}>&lt;</a>
        {% else %}
        <span class="text-muted">&lt;&lt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">&lt;</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if pagination.lastPageHref != page.url %}
        <a href={{ pagination.nextPageHref }}>&gt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.lastPageHref }}>&gt;&gt;</a>
        {% else %}
        <span class="text-muted">&gt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">&gt;&gt;</span>
        {% endif %}
      </p>
      <hr style="margin-top: 0; margin-bottom: 0.5em;" />
      {% for post in posts %}
        <div>          
          <h2 class="h5" style="margin-bottom: 0.25em;"><a href="{{ post.url }}">{{ post.data.title }}</a><br />
          <span class="legal"><em>{{ post.data.subtitle }}</em></span></h2>
          <p class="pokey text-muted" style="margin-top: 0;">
            Published: <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.date | htmlDateString }}</time>
            {% if post.data.lastmod %}
            <br />Last modified: <time style="display: inline;" datetime="{{ post.date | htmlDateString }}">{{ post.data.lastmod | htmlDateString }}</time>
            {% endif %}
          </p>
          <p class="pokey text-body" style="margin-top: 0.5em; margin-bottom: 2em;">
            {{ post.data.description }}
          </p>
        </div>
      {% endfor %}
      <hr style="margin-top: 2em;" />
      <p class="ctr pokey" style="margin-top: 0.5em;">
        {% if pagination.firstPageHref != page.url %}
        <a href={{ pagination.firstPageHref}}>&lt;&lt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.previousPageHref }}>&lt;</a>
        {% else %}
        <span class="text-muted">&lt;&lt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">&lt;</span>
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if pagination.lastPageHref != page.url %}
        <a href={{ pagination.nextPageHref }}>&gt;</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href={{ pagination.lastPageHref }}>&gt;&gt;</a>
        {% else %}
        <span class="text-muted">&gt;</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="text-muted">&gt;&gt;</span>
        {% endif %}
      </p>
		</div>
	</div>

</main>