---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ siteparams.siteTitle }}</title>
	<subtitle>{{ siteparams.feed.subtitle }}</subtitle>
	<link href="{{ siteparams.siteBaseURL }}/feed.xml" rel="self"/>
	<link href="{{ siteparams.siteBaseURL }}"/>
	<updated>{{ collections.post | rssLastUpdatedDate }}</updated>
	<id>{{ siteparams.feed.id }}</id>
	<author>
		<name>{{ siteparams.siteAuthor }}</name>
	</author>
	{%- for post in collections.post | reverse %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title }} | {{ post.data.subtitle }} </title>
		<link href="{{ absolutePostUrl }}"/>
    {% if post.data.lastmod %}
    <updated>{{ post.data.lastmod | rssDate }}</updated>
    {% else %}
    <updated>{{ post.date | rssDate }}</updated>
    {% endif %}
		<id>{{ absolutePostUrl }}</id>
    <description>
      {{ post.data.description }}
    </description>
	</entry>
	{%- endfor %}
</feed>