---
permalink: /sitemap.xml
#eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for post in collections.post | reverse %}
  <url>
    <loc>{{ siteparams.siteBaseURL }}{{ post.url }}</loc>
    {% if post.data.lastmod %}
    <lastmod>{{ post.data.lastmod | dateStringISO }}</lastmod>
    {% else %}
    <lastmod>{{ post.date | dateStringISO }}</lastmod>
    {% endif %}
  </url>
  {%- endfor %}
  <url>
    <loc>{{ siteparams.siteBaseURL }}/about</loc>
    <lastmod>2019-09-08</lastmod>
  </url>
  <url>
    <loc>{{ siteparams.siteBaseURL }}</loc>
    <lastmod>2019-09-08</lastmod>
  </url>
</urlset>